.s-event-box {
    background: white;
    padding: 2em;
    border-radius: 0.5em;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.05) !important; 
    box-shadow: 0px 20px 25px 0px rgba(0,0,0,0.05) !important;
}

.s-event-container {
    margin: 8em 20em;
}
img.circle{
    border-radius: 100%;
    width: 100px;
    height: auto;
}

.s-event-box .title {
    font-size: 2em;
    font-weight: 300;
    font-family: Coolvetica;
}

.s-event-box .event_tag {
    float:right;
    height: 1.6em;
    display: block;
    text-align: right;
}

.s-event-box .time {
    display: block;
}

.s-event-box .actions {
    margin-top: 10em;
    padding-bottom: 2em;
}

.actions button {
    float: right;
}