.s-event-box {
    background: white;
    padding: 2em;
    border-radius: 0.5em;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.05) !important; 
    box-shadow: 0px 20px 25px 0px rgba(0,0,0,0.05) !important;
}

.s-event-container {
    margin: 6em 25em;
}
img.circle{
    border-radius: 100%;
    width: 100px;
    height: auto;
}

.s-event-box .title {
    font-size: 2em;
    font-weight: 300;
    font-family: Coolvetica;
    color: var(--text_black);
}

.s-event-box .desc {
    color: var(--text_black);
    font-size: 0.8em;
    font-family: Raleway;
}

.s-event-box .event_tag {
    float:right;
    height: 1.6em;
    display: block;
    text-align: right;
    font-family: Raleway;
}

.s-event-box .time {
    display: block;
    color: var(--text_green);
    font-weight: 700;
    margin-bottom: 1em;
    font-family: Raleway;
}

.s-event-box .actions {
    margin-top: 3em;
    padding-bottom: 2em;
}

.actions button {
    float: right;
}

.speaker-name {
    text-align: center;
    margin-top: 0.4em;
    color: var(--text_black);
    font-size: 0.8em;
    font-family: Raleway;
}

.speaker-tag {
    width: 100px;
    
}

.subtitle{
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
    color: var(--text_black);
    font-family: Raleway;
}

.rel {
    margin-left: 1em;
}

.go-btn {
    background: var(--text_green);
    border:none;
    border-radius: 0.2em;
    padding: 0.3em 0.9em;
    margin-right: 1em;
    font-size: 1.1em;
    color:white;
    font-weight: 700;
}

.upload-s {
    background: none;
    border:none;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    font-size: 1.1em;
    color: var(--text_black);
}